/*fonts Main text
font-family: "EB Garamond", serif;

Text fonts
font-family: "Montserrat", sans-serif; */

/* Icon code*/
.icon {
    height: 2rem;
}

/*Learn More Button with Arrow*/
.btnLearnMore {
    padding-left: 7rem;
    padding-right: 7rem;
    color: white;
    font-size: 1.2rem !important;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.iconArrow {
    padding-left: .5rem;
    height: 1.5rem;

}

.btn {
    background-color: #BF6C38 !important;
    border-radius: 0;
}

.btnNav {
    background-color: #BF6C38 !important;
    border-radius: 0;
    border: none;
}

/*Sign Up & Calendar button*/
.signUp {
    color: white;
    font-size: 1.2rem !important;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.btnSignUp {
    padding: .5rem;
}

.btnCalendar {
    color: white;
    font-size: 1.2rem !important;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #596654 !important;
}

.calendarInfo {
    padding-left: .5rem;
}

/*Social media Buttons*/
.socialMediaButton {

    color: white;
    font-size: 1.2rem !important;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #596654 !important;
    border: none;
}

.socialIcon{
    height: 2.8rem;
}