/*fonts Main text
font-family: "EB Garamond", serif;

Text fonts
font-family: "Montserrat", sans-serif; */


/* Button CSS Code*/
.icon {
    height: 2rem;
}

.btn-warning{
background-color:#BF6C38 !important;
border-radius: 0;
}

.LearnMore .signUp{
    font-size: 1rem !important;
    font-weight:600;
}

/* these are place holder test
h1{
    font-size: 3rem;
}

h4{
    font-size: 1rem;
}
*/
